$futura: "../fonts/FuturaNew";
$source: "../fonts/SourceCodePro";
$icomoon: "../fonts/icomoon";


@font-face {
	font-family: "FuturaNew";
	font-style: normal;
	font-weight: 400;
	src: url("#{$futura}/FuturaNewBook/FuturaNewBook.eot");
	src: url("#{$futura}/FuturaNewBook/FuturaNewBook.woff2") format("woff2"),
	url("#{$futura}/FuturaNewBook/FuturaNewBook.woff") format("woff"),
	url("#{$futura}/FuturaNewBook/FuturaNewBook.otf") format("opentype"),
	url("#{$futura}/FuturaNewBook/FuturaNewBook.ttf") format("truetype"),
	url("#{$futura}/FuturaNewBook/FuturaNewBook.svg#FuturaNewBook") format("svg");
}

@mixin futura-book {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font: {
		family: "FuturaNew";
		weight: 400;
	}
}

@font-face {
	font-family: "FuturaNew";
	font-style: normal;
	font-weight: 500;
	src: url("#{$futura}/FuturaNewMedium/FuturaNewMedium.eot");
	src: url("#{$futura}/FuturaNewMedium/FuturaNewMedium.woff2") format("woff2"),
	url("#{$futura}/FuturaNewMedium/FuturaNewMedium.woff") format("woff"),
	url("#{$futura}/FuturaNewMedium/FuturaNewMedium.otf") format("opentype"),
	url("#{$futura}/FuturaNewMedium/FuturaNewMedium.ttf") format("truetype"),
	url("#{$futura}/FuturaNewMedium/FuturaNewMedium.svg#FuturaNewMedium") format("svg");
}

@mixin futura-medium {
	font: {
		family: "FuturaNew";
		weight: 500;
	}
}

@font-face {
	font-family: "FuturaNew";
	font-style: normal;
	font-weight: 600;
	src: url("#{$futura}/FuturaNewDemi/FuturaNewDemi.eot");
	src: url("#{$futura}/FuturaNewDemi/FuturaNewDemi.woff2") format("woff2"),
	url("#{$futura}/FuturaNewDemi/FuturaNewDemi.woff") format("woff"),
	url("#{$futura}/FuturaNewDemi/FuturaNewDemi.otf") format("opentype"),
	url("#{$futura}/FuturaNewDemi/FuturaNewDemi.ttf") format("truetype"),
	url("#{$futura}/FuturaNewDemi/FuturaNewDemi.svg#FuturaNewDemi") format("svg");
}

@mixin futura-demi {
	font: {
		family: "FuturaNew";
		weight: 600;
	}
}

@font-face {
	font-family: "FuturaNew";
	font-style: normal;
	font-weight: 700;
	src: url("#{$futura}/FuturaNewBold/FuturaNewBold.eot");
	src: url("#{$futura}/FuturaNewBold/FuturaNewBold.woff2") format("woff2"),
	url("#{$futura}/FuturaNewBold/FuturaNewBold.woff") format("woff"),
	url("#{$futura}/FuturaNewBold/FuturaNewBold.otf") format("opentype"),
	url("#{$futura}/FuturaNewBold/FuturaNewBold.ttf") format("truetype"),
	url("#{$futura}/FuturaNewBold/FuturaNewBold.svg#FuturaNewBold") format("svg");
}

@mixin futura-bold {
	font: {
		family: "FuturaNew";
		weight: 700;
	}
}

@font-face {
	font-family: "FuturaNew";
	font-style: normal;
	font-weight: 800;
	src: url("#{$futura}/FuturaNewHeavy/FuturaNewHeavy.eot");
	src: url("#{$futura}/FuturaNewHeavy/FuturaNewHeavy.woff2") format("woff2"),
	url("#{$futura}/FuturaNewHeavy/FuturaNewHeavy.woff") format("woff"),
	url("#{$futura}/FuturaNewHeavy/FuturaNewHeavy.otf") format("opentype"),
	url("#{$futura}/FuturaNewHeavy/FuturaNewHeavy.ttf") format("truetype"),
	url("#{$futura}/FuturaNewHeavy/FuturaNewHeavy.svg#FuturaNewHeavy") format("svg");
}

@mixin futura-heavy {
	font: {
		family: "FuturaNew";
		weight: 800;
	}
}

@font-face {
	font-family: "SourceCodePro";
	font-style: normal;
	font-weight: 400;
	src: url("#{$source}/SourceCodePro.eot");
	src: url("#{$source}/SourceCodePro.woff2") format("woff2"),
	url("#{$source}/SourceCodePro.woff") format("woff"),
	url("#{$source}/SourceCodePro.otf") format("opentype"),
	url("#{$source}/SourceCodePro.ttf") format("truetype"),
	url("#{$source}/SourceCodePro.svg#SourceCodePro") format("svg");
}

@mixin source {
	font: {
		family: "SourceCodePro";
		weight: 700;
	}
}


@font-face {
	font-family: 'icomoon';
	src: url('#{$icomoon}/icomoon.eot?1gmu71');
	src: url('#{$icomoon}/icomoon.eot?1gmu71#iefix') format('embedded-opentype'),
	url('#{$icomoon}/icomoon.ttf?1gmu71') format('truetype'),
	url('#{$icomoon}/icomoon.woff?1gmu71') format('woff'),
	url('#{$icomoon}/icomoon.svg?1gmu71#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="ic-"],
[class*=" ic-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}