.about-section {
	padding: 204px 0 220px;
	background-color: #e0e4e8;
	background-image: url("../images/about-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	@include screen-max(1600) {
		padding: 204px 0 149px;
	}

	@include screen-max(1400) {
		padding: 204px 0 54px;
	}

	@include screen-max(1280) {
		padding: 204px 0 66px;
	}

	@include screen-max(1000) {
		padding: 204px 0 124px;
	}

	.logo {
		width: 100%;
		max-width: 458px;

		@include screen-max(1400) {
			max-width: 322px;
		}
	}
}

.about-wrap {
	position: relative;
	display: flex;

	@include screen-max(1400) {
		justify-content: space-between;
	}

	.column {
		width: 100%;

		&:nth-child(1) {
			min-width: 760px;

			@include screen-max(1600) {
				min-width: 0;
			}

			@include screen-max(1400) {
				min-width: 635px;
			}

			@include screen-max(1280) {
				width: 530px;
				min-width: 530px;
			}

			@include screen-max(1000) {
				width: 470px;
				min-width: 470px;
			}
		}

		&:nth-child(2) {
			@include screen-max(1480) {
				align-items: center;
				justify-content: center;
				display: flex;
			}

			@include screen-max(1280) {
				justify-content: flex-end;
			}
		}
	}

	.brg-screens {
		@include screen-min(1755) {
			position: absolute;
			top: -48px;
			right: -161px;
		}

		@include screen-max(1755) {
			width: auto;
			padding: 0 0 0 80px;
		}

		@include screen-max(1600) {
			transform: translate(34px, -22px);
		}

		@include screen-max(1400) {
			padding: 0 0 0 105px;
			transform: translate(0, -70px);
		}

		@include screen-max(1280) {
			padding: 0;
			transform: translateY(-55px);
		}

		@include screen-max(1000) {
			transform: translateY(-27px);
		}

		align-items: center;
		justify-content: center;
		display: flex;

		img {
			width: 100%;
		}
	}
}

.about-buttons {
	flex-wrap: wrap;
	display: flex;

	button {
		&:not(:last-child) {
			margin-right: 35px;

			@include screen-max(1480) {
				margin-right: 20px;
			}

			@include screen-max(1000) {
				margin-right: 17px;
			}
		}
	}
}

.tagline {
	@include futura-demi();



	padding: 22px 0;
	color: rgba(#344045, 0.5);
	font-size: 21px;
	letter-spacing: 4.9px;
	text-transform: uppercase;

	@include screen-max(1400) {
		font-size: 15px;
		padding: 11px 0 0;
		letter-spacing: 3.5px;
	}

	@include screen-max(900) {
		line-height: 32px;
	}
}

.prezentation {
	width: 100%;
	max-width: 760px;
	padding: 20px 0 48px;

	@include screen-max(1400) {
		padding: 20px 0 23px;
	}

	@include screen-max(1280) {
		padding: 20px 0 40px;
	}

	@include screen-max(1000) {
		padding: 20px 0 28px;
	}

	p {
		@include futura-medium();
		margin: 14px 0;
		color: #364147;
		font-size: 24px;
		letter-spacing: 1.44px;
		line-height: 43px;

		@include screen-max(1400) {
			margin: 16px 0;
			font-size: 18px;
			line-height: 32px;
			letter-spacing: 1.1px;
		}

		&:nth-child(1) {
			margin: 24px 0 0;

			@include screen-max(1400) {
				margin: 20px 0 0;
			}

			@include screen-max(1280) {
				margin: 33px 0 0;
			}
		}

	}
}