@mixin btn {
	align-items: center;
	justify-content: center;
	display: flex;
	min-width: 220px;
	height: 54px;
	border: 0;
	border-radius: 34px;
	line-height: 26px;
	white-space: nowrap;
	cursor: pointer;
	transition: background-color 0.2s ease;

	@include screen-max(1400) {
		min-width: 180px;
		height: 42px;
	}

	@include less(500) {
		height: 46px;
		min-width: 260px;
	}

	.text {
		font-size: 22px;
		@include futura-demi();

		@include screen-max(1400) {
			font-size: 18px;
		}

	}

	.icon {
		min-width: 24px;
		height: 24px;
		margin-right: 12px;

		@include screen-max(1400) {
			min-width: 19.5px;
			height: 19.5px;
			margin-right: 8px;
		}

		@include screen-max(1000) {
			margin-right: 5px;
		}

		@include less(500) {
			min-width: 24px;
			height: 24px;
			margin-right: 10px;
		}
	}
}


.btn-primary {
	@include btn();
	@include onBtnFocus(34px, 2px, 2px, rgba(#fff, 0.15));
	padding: 0 20px;
	background-color: #61d2ac;

	&:hover {
		background-color: #35e8bb;
	}

	&:focus:not(:active) {
		background-color: #35e8bb;
	}

	&:active {
		opacity: .5;
	}

	.text {
		color: #354045;
		letter-spacing: .9px;
	}

	&.lg {
		height: 54px;

		@include less(500) {
			margin: 0 auto;
			max-width: 260px;
			height: 46px;
		}

		.text {
			font-size: 22px;
			letter-spacing: 1px;

			@include screen-max(1000) {
				letter-spacing: 0;
			}

			@include less(500) {
				font-size: 18px;
				line-height: 24px;
				letter-spacing: .5px;
			}

		}
	}
}

.btn-light {
	@include btn();
	@include onBtnFocus(34px, 2px, 2px, rgba(#394a4c, 0.15));
	padding: 0 20px 0 16px;
	background-color: rgba(#fff, 0.5);

	&.iconed {
		min-width: 301px;
		justify-content: flex-start;

		@include screen-max(1400) {
			min-width: auto;
		}

		@include less(500) {
			justify-content: center;
			width: 260px;
		}
	}

	@include less(768) {
		padding: 0 15px 0 15px;
	}

	&:hover {
		background-color: #fff;
	}

	&:focus:not(:active) {
		background-color: #fff;
	}

	&:active {
		background-color: rgba(#fff, 0.5);
	}

	.text {
		letter-spacing: .5px;
		color: rgba(#394a4c, 0.7);

		@include screen-max(1400) {
			letter-spacing: .3px;
		}

		@include screen-max(1000) {
			letter-spacing: .4px;
		}

		@include less(768) {
			font-size: 15px;
		}

		@include less(500) {
			font-size: 18px;
			line-height: 36px;
		}
	}
}