.how-to-section {
	@include screen-max(800) {
		padding: 50px 0 60px;
	}
	padding: 80px 0 120px;
	background-color: rgba(#e0e4e8, 0.3);
}

.how-to-row {
	@include screen-max(1350) {
		flex-direction: column;
		align-items: center;
	}
	display: flex;

	.column {

		@include screen-min(1350) {
			width: 50%;
		}
		width: 100%;
		max-width: 760px;
		padding-top: 14px;
		padding-bottom: 14px;

		&:nth-child(1) {
			@include screen-min(1350) {
				padding-right: 50px;
				border-right: 1px solid #e0e4e8;
			}
		}

		&:nth-child(2) {
			@include screen-min(1350) {
				padding-left: 50px;
			}
		}
	}

	& + .how-to-title {
		@include screen-max(800) {
			margin-top: 40px;
		}
		margin-top: 80px;
	}
}


.how-to-title {
	@include screen-max(1350) {
		width: 100%;
		max-width: 760px;
		margin-right: auto;
		margin-left: auto;
	}

	@include futura-heavy();
	margin-bottom: 30px;
	color: rgba(#344045, 1);
	font-size: 28px;
	letter-spacing: 1px;
	line-height: 40px;
	text-transform: uppercase;
}

.how-to-header {
	@include screen-max(1350) {
		width: 100%;
		max-width: 760px;
		margin-right: auto;
		margin-left: auto;
	}
	@include screen-max(800) {
		margin-bottom: 50px;
		color: rgba(52, 64, 69, 0.5);
		font-size: 21px;
		text-align: center;
	}
	@include futura-heavy();
	color: rgba(#344045, 0.1);
	font-size: 160px;
	letter-spacing: 3px;
	line-height: 78px;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	span {
		display: block;
		margin: 0 0 -20px -10px;
	}
}

.code-example {
	.title {
		@include futura-demi();
		margin-bottom: 5px;
		color: rgba(#344045, 0.5);
		font-size: 12px;
		text-transform: uppercase;
	}

	.code {
		@include source();
		padding: 15px;
		border-radius: 8px;
		background-color: #fff;
		color: rgba(#344045, 0.8);
		font-size: 14px;
		line-height: 24px;
	}

	.qr,
	.widget {
		margin-top: 26px;
	}

	.fields {
		margin-top: 20px;

		.field {
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}

		.argument {
			@include source();
			color: rgba(#344045, 1);
			font-size: 14px;
			line-height: 24px;
		}

		.type {
			@include futura-medium();
			margin: 5px 0 0 14px;
			font-size: 18px;
		}
	}

	.fields-hints {
		@include futura-medium();
		margin-top: 20px;
		font-size: 18px;
	}
}
