.info-section {
	padding: 81px 0 83px;
	display: flex;
	background-color: #e0e4e8;
	background-image: url("../images/echo-bg.svg");
	background-repeat: no-repeat;
	background-position: 30.2% 52%;

	@include screen-max(1600) {
		background-position: 5% 52%;
	}

	@include screen-max(1400) {
		background-position: 0% 52%;
		padding: 103px 0 106px;
	}

	@include screen-max(1000) {
		padding: 103px 0 107px;
		background-size: 58%;
	}

	@include screen-max(768) {
		background-size: 70%;
		background-position: -100% 52%;
	}

	@include less(768) {
		padding: 106px 0 88px;
		background-size: 81%;
		background-position: -170px 100px;
	}

	@include less(500) {
		padding: 46px 0;
	}

	.col:first-child {
		@include screen-max(1400) {
			width: 52%;
		}

		@include screen-max(1280) {
			width: 42%;
		}

		@include screen-max(1000) {
			width: 42.5%;
		}

		@include screen-max(768) {
			width: 31%;
		}

		@include less(768) {
			display: none;
		}
	}

	.col:nth-child(2) {
		@include screen-max(1400) {
			width: 48%;
			min-width: auto;
		}

		@include screen-max(1280) {
			width: 58%;
		}

		@include screen-max(1000) {
			width: 57.5%;
		}

		@include screen-max(768) {
			width: 69%;
		}

		@include less(768) {
			width: 100%;
		}
	}

	.btn-light {
		min-width: 200px;

		@include screen-max(1400) {
			min-width: 160px;
		}

		@include less(500) {
			min-width: 260px;
			margin: 0 auto;
		}
	}
}

.info-title {
	@include futura-demi();
	margin-bottom: 38px;
	color: rgba(#344045, 0.5);
	font-size: 21px;
	letter-spacing: 5px;
	text-transform: uppercase;

	@include screen-max(1400) {
		margin-bottom: 20px;
		letter-spacing: 4.8px;
	}

	@include less(500) {
		margin-bottom: 17px;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 3.6px;
	}
}

.info-description {
	@include futura-medium();
	max-width: 600px;
	margin: 0 0 38px 0;
	color: #364147;
	font-size: 24px;
	letter-spacing: 1.44px;
	line-height: 43px;

	@include screen-max(1400) {
		margin: 0 0 41px 0;
		font-size: 20px;
		line-height: 36px;
		letter-spacing: 1.2px;
	}

	@include less(500) {
		margin-bottom: 40px;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: .95px;
	}
}