.process-section {
	@include screen-max(1350) {
		padding: 80px 0px 50px;
	}

	@include screen-max(1050) {
		display: none;
	}

	padding: 105px 0px;
	text-align: center;
}

.steps {
	@include screen-max(1350) {
		.step {
			width: 260px;

			img {
				width: 100%;
			}
		}
	}
	align-items: center;
	justify-content: center;
	display: flex;
	padding: 74px 0;

	.arrow {
		margin-top: -115px;
		padding: 0 23px;
	}

	.caption {
		padding: 30px 0 0;
	}

	.title {
		@include futura-bold();
		color: rgba(#364147, 0.5);
		font-size: 36px;
		letter-spacing: 2px;
	}

	.description {
		@include futura-medium();
		margin: 12px 0 0;
		color: #364147;
		font-size: 24px;
		letter-spacing: 1.34px;
	}
}
