.request-widget {
	padding: 116px 0 103px;
	background-color: #E8ECEF;

	@include screen-max($xl) {
		padding: 100px 0 100px;
	}

	@include screen-max($hd) {
		padding: 69px 0 81px;
	}

	@include screen-max($lg) {
		padding: 69px 0 79px;
	}

	@include screen-max($md - 1) {
		padding: 57px 0 0;
	}

	@include screen-max($sm - 1) {
		padding: 39px 0 0;
	}
}

.request-widget-wrap {
	width: 80.5%;
	margin: 0 auto;

	@include screen-max($xl) {
		width: 815px;
	}

	@include screen-max($lg) {
		width: 91%;
	}

	@include screen-max($md) {
		width: 100%;
	}
}

.request-widget-title {
	margin-bottom: 43px;
	text-align: center;

	@include screen-max($xl) {
		margin-bottom: 30px;
	}

	@include screen-max($md - 1) {
		margin: 0 auto 28px;
		width: 95%;
	}

	@include screen-max($sm - 1) {
		margin: 0 auto 15px;
		width: 100%;
	}
}

.request-widget-info {
	margin-bottom: 70px;
	font-size: 24px;
	line-height: 42px;
	letter-spacing: 1.5px;
	@include futura-medium();

	@include screen-max($xxl) {
		letter-spacing: 1.47px;
	}

	@include screen-max($xl) {
		margin-bottom: 45px;
		font-size: 18px;
		line-height: 32px;
		letter-spacing: 1.1px;
	}

	@include screen-max($lg) {
		margin-bottom: 48px;
		letter-spacing: 1.05px;
	}

	@include screen-max($md - 1) {
		margin-bottom: 64px;
	}

	@include screen-max($sm - 1) {
		font-size: 16px;
		line-height: 24px;
	}

	@include screen-max($sm - 1) {
		margin-bottom: 48px;
	}
}