section {
	width: 100%;
}

.container {
	width: 100%;
	max-width: 1366px;
	margin: auto;
}

.row {
	display: flex;
	width: 100%;

	.col {
		width: 100%;

		&:nth-child(2) {
			min-width: 757px;

			@include screen-max(1280) {
				min-width: auto;
			}
		}
	}
}

@include screen-max(1400) {
	.container {
		max-width: 1250px;
	}
}

@include screen-max(1280) {
	.container {
		padding: 0 76px;
		width: 100%;
		max-width: 100%;
	}
}

@include screen-max(1000) {
	.container {
		padding: 0 56px;
	}
}

@include screen-max($md - 1) {
	.container {
		padding: 0 40px;
	}
}

@include screen-max($sm - 1) {
	.container {
		padding: 0 16px;
	}
}