$xxl: 1600;
$xl: 1400;
$hd: 1280;
$lg: 1000;
$md: 768;
$sm: 500;
$xs: 320;

@mixin screen-min($width) {
	@media (min-width: $width + "px") {
		@content;
	}
}

@mixin screen-max($width) {
	@media (max-width: $width + "px") {
		@content;
	}
}

@mixin less($width) {
	@media (max-width: $width - 1 + 'px') {
		@content;
	}
}