@mixin absolute-stretch {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

@mixin text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin transition {
	transition: all 0.2s ease-out;
}

@mixin hardwareAccel() {
	transform: translateZ(0);
}

@mixin placeholder {
	&.placeholder {
		@content;
	}

	&:-moz-placeholder {
		@content;
	}

	&::-moz-placeholder {
		@content;
	}

	&::-webkit-input-placeholder {
		@content;
	}
}

@mixin onBtnFocus($angular, $outerBorderWidth, $innerBorderWidth, $color) {
	@include hardwareAccel();
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: -($outerBorderWidth + $innerBorderWidth);
		right: -($outerBorderWidth + $innerBorderWidth);
		bottom: -($outerBorderWidth + $innerBorderWidth);
		left: -($outerBorderWidth + $innerBorderWidth);
		border: $outerBorderWidth solid transparent;
		border-radius: $angular + 2px;
		transition: border-color $speed;
	}

	&:not(:active) {
		&:focus {
			&:before {
				border-color: $color;
			}
		}
	}
}

@mixin onlyHover() {
	@media (hover: hover) {
		@content
	}
}